@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #14180c;
    background-color:#ffe;
    height: calc(100% + 10%);
}

header {
    background-color: #0a0f0b;
}

.container {
    margin-top: 5%;
    padding: 2%;
    background-color: #e7f0e9;
    border-radius: 15px;
    box-shadow: 0 0 0 2px #46aa5cb4;
    backdrop-filter: blur(10px);
    width: 50%;
}

.form-title {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    color: #46aa5b;
}

.form-title h5 {    
    margin-left: 2%;
}

.line {
    height: 2px;
    width: 100%;
    background-color: #46aa5b;
    margin-bottom: 20px;
    box-shadow: 0 5px 10px 1px #bbc;
}

.form-group {
    margin-top: 2%;
    margin-bottom: 4%;
}

.form-control {
    margin-bottom: 1em;
}

.idx {
    font-weight: 500;
}

.main{
    height: 1000px;
}

label {
    margin-bottom: 5px;
    color: #233;
}

input, select, textarea{
    box-shadow: 0 0 5px 2px #ddc;
}

.actions{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Footer design*/
footer {
    position: relative;
    bottom: 0;
    width: 100%; 
    height: auto;
    backdrop-filter: blur(50px);
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;    
    background: #f7fbf844;
}

/* Redes */
.contact, .contact a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

.icon-content a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background: #f7fbf8;
    position: relative;
    text-decoration: none;
    box-shadow: 4px 4px 4px 0  #dbdbdb;
}

.span-tooltip > i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
    font-size: 40px;
}

.span-tooltip > span {
    position: absolute;
    width: fit-content;
    font-size: small;
    font-weight: 600;
    color: var(--text-color);
    background-color: inherit;
    padding: 3px 10px;
    border-radius: 4px;
    bottom: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    color: #0A0E0B;
}
  
.span-tooltip > span::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 3px;
    background-color: inherit;
    transform: rotate(45deg);
    top: calc(100% - 6px);
    left: 40%;
}
  
.span-tooltip > i:hover + span {
    visibility: visible;
    opacity: 1;
    bottom: calc(100% + 6px);
}

div[id="contact"] {
    width: 20%;
    height: 55px;
    margin-left: 15%;
    float: left;
    padding: 3vh;
}

footer span {
    font-weight: 600;
}
footer .contact .copyright{
    margin-top: 5px;
    font-size: 16px;
}

div[id="redes"] {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 20px 20px 20px 0;
    margin-right: 15%;
    float: right;
    padding: 3vh;
}
/* Redes fin */